<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试报告</title>
</head>
<h2>测试报告</h2>
<body>
<a href="https://test.overseaban.com/public/box-probability/report/2022-06-30-16:58:34.html">开盲盒送人2022-06-30-16:58:34.html</a>
<a href="https://test.overseaban.com/public/box-probability/report/2022-06-29-23:32:56.html">自己开箱子2022-06-29-23:32:56.html</a>
<a href="https://test.overseaban.com/public/box-probability/report/2022-06-29-19:12:00.html">开盲盒送人2022-06-29-19:12:00.html</a>
<a href="https://test.overseaban.com/public/box-probability/report/2022-06-29-16:38:41.html">开盲盒送人2022-06-29-16:38:41.html</a>
<a href="https://test.overseaban.com/public/box-probability/report/2022-06-27-21:20:07.html">开箱子送人2022-06-27-21:20:07.html</a>
<a href="https://test.overseaban.com/public/box-probability/report/2022-06-24-19:27:36.html">开箱子送人2022-06-24-19:27:36.html</a>
</body>
</html>